#kills {
    text-decoration: underline;
}
.rank_col, .rank_name {
    cursor: pointer;
}
#load_more {
    margin-top: 0.6cm;
    margin-bottom: 0.75cm;
}
#logo {
    image-rendering: pixelated;
    margin-top: .65cm;
}
#nav {
    margin: 0.75cm;
}
footer {
    margin-top: auto;
}
html, body {
    height: 100%;
}
#wrapper {
    min-height: 100%;
    flex-direction: column;
}
#stats_skin {
    margin: .75cm;
    margin-right: .5cm;
    margin-left: 0;
}
.form-control, #stats_error, #rank_table_real, #main_stats_table {
    width: fit-content;
}
#aang_div, #katara_div, #toph_div {
    width: 12.5cm;
}
#rank_table_real {
    margin: 0;
}
