<!doctype html>
<head>
    <title>Profil von {{ name }}</title>
</head>
<html>
    <body>
        <table>
            <tr>
                <td><b>Name:</b></td>
                <td>{{ name }}</td>
            </tr>
            <tr>
                <td><b>Tode:</b></td>
                <td>{{ profile.deaths }}</td>
            </tr>
            <tr>
                <td><b>Kills:</b></td>
                <td>{{ profile.kills }}</td>
            </tr>
            <tr>
                <td><b>Killstreak:</b></td>
                <td>{{ profile.currentKillStreak }} - max: {{ profile.highestKillStreak }}</td>
            </tr>
            <tr>
                <td><b>XP:</b></td>
                <td>{{ profile.xp }}</td>
            </tr>
            <tr>
                <td><b>Kopfgeld:</b></td>
                <td>{{ profile.bounty }}</td>
            </tr>
        </table>
    </body>
</html>
